COMPANY_NAME="Vercel Inc."
SITE_NAME="Next.js Commerce"
SHOPIFY_STORE_DOMAIN=nix-indonesia.myshopify.com
SHOPIFY_STOREFRONT_ACCESS_TOKEN=8ba360f757e4da183b5fbb4b7ac6badd
NEXT_PUBLIC_SHOPIFY_STOREFRONT_ACCESS_TOKEN=8ba360f757e4da183b5fbb4b7ac6badd